{% extends "layout.html" %}
{% block content %}


    
    <div class="col-12 d-flex justify-content-center"><h3>{{ team.name }}</h3></div>


    <div class="col-12 d-flex justify-content-center"><button class="btn btn-teams-position">{{'Útok'}}</button></div>

    <div class="row">
     {% for player in members %}
      {% if player.position[0].id==4 %}
      <a class="col-xs-4 col-sm-6 col-md-4 col-lg-4" href="{{ url_for('users.member', member_id=player.id) }}">
        <div class="card" style="width: 95%;margin:0px;">
          <img width="99%" class="sponsor-img" src="{{ url_for('static', filename='members_pics/'+player.image_file+'') }}">
          <div class="card-body">
            <h3>{{ player.name }}</h3>
          </div>
        </div>
      </a>
      {% endif %}
      {% endfor %}
    </div>


    
    <div class="row d-flex justify-content-center"><button class="btn btn-teams-position">{{'Záloha'}}</button></div>
    <div class="row">
    
      {% for player in members %}

      {% if player.position[0].id==3 %}
      <a class="col-xs-4 col-sm-6 col-md-4 col-lg-4"  href="{{ url_for('users.member', member_id=player.id) }}">
        <div class="card" style="width: 95%;margin:0px;">
          <img class="sponsor-img" src="{{ url_for('static', filename='members_pics/'+player.image_file+'') }}">
          <div class="card-body">
            <h3>{{ player.name }}</h3>
          </div>
        </div>
      </a>
      {% endif %}
      {% endfor %}

    </div>


    <div class="row col-12 d-flex justify-content-center"><button class="btn btn-teams-position">{{'Obrana'}}</button></div>
    <div class="row">
    
      {% for player in members %}
      {% if player.position[0].id==2 %}
      <a class="col-xs-4 col-sm-6 col-md-4 col-lg-4"  href="{{ url_for('users.member', member_id=player.id) }}">
        <div class="card" style="width: 95%;margin:0px;">
          <img class="sponsor-img" src="{{ url_for('static', filename='members_pics/'+player.image_file+'') }}">
          <div class="card-body">
            <h3>{{ player.name }}</h3>
          </div>
        </div>
      </a>
      {% endif %}
      {% endfor %}
    </div>
    
    <div class="row col-12 d-flex justify-content-center"><button class="btn btn-teams-position">{{'Brankári'}}</button></div>
    <div class="row">
    
      {% for player in members %}
      {% if player.position[0].id==1 %}
      <a class="col-xs-4 col-sm-6 col-md-4 col-lg-4"  href="{{ url_for('users.member', member_id=player.id) }}">
        <div class="card" style="width: 95%;margin:0px;">
          <img class="sponsor-img" src="{{ url_for('static', filename='members_pics/'+player.image_file+'') }}">
          <div class="card-body">
            <h3>{{ player.name }}</h3>
          </div>
        </div>
      </a>
      {% endif %}
      {% endfor %}
    </div>
    
    <div class="row col-12  d-flex justify-content-center"><button class="btn btn-teams-position">{{'Tréneri'}}</button></div>
    <div class="row">

      {% for player in members %}
        {% if player.position[0].id==5 %}
        <a class="col-xs-4 col-sm-6 col-md-4 col-lg-4"  href="{{ url_for('users.member', member_id=player.id) }}">
          <div class="card" style="width: 95%;margin:0px;">
            <img class="sponsor-img" src="{{ url_for('static', filename='members_pics/'+player.image_file+'') }}">
            <div class="card-body">
              <h3>{{ player.name }}</h3>
            </div>
          </div>
        </a>
        {% endif %}
        {% endfor %}
      </div>



{% endblock content %}