{% extends "layout.html" %}
{% block content %}

<h3 class="headline">{{ team.name }}</h3>
<br>
{% if team.name=='U11' %}
{% elif team.name=='U9' %}
{% elif team.name=='U7' %}
{% else %}

    <div class="col-12 d-flex justify-content-center"><p class="btn-teams-position">{{'Útočníci'}}</p></div>

    <div class="row">
     {% for player in members %}
      {% if player.position==4 %}
      <a class="col-xs-6 col-sm-6 col-md-4 col-lg-4" href="#">
        <div class="card" style="width: 95%;margin:0px;padding:0px;">
          <div class="card-body">
            <h6>{{ player.name }}</h6>
          </div>
        </div>
      </a>
      {% endif %}
      {% endfor %}
    </div>


    
    <div class="row d-flex justify-content-center"><p class="btn-teams-position">{{'Stredopoliari'}}</p></div>
    <div class="row">
    
      {% for player in members %}

      {% if player.position==3 %}

      <a class="col-xs-6 col-sm-6 col-md-4 col-lg-4"  href="#">
        <div class="card" style="width: 95%;margin:0px;">
          <div class="card-body">
            <h6>{{ player.name }}</h6>
          </div>
        </div>
      </a>
      {% endif %}
      {% endfor %}

    </div>


    <div class="row col-12 d-flex justify-content-center"><p class="btn-teams-position">{{'Obrancovia'}}</p></div>
    <div class="row">
    
      {% for player in members %}
      {% if player.position==2 %}

      <a class="col-xs-6 col-sm-6 col-md-4 col-lg-4"  href="#">
        <div class="card" style="width: 95%;margin:0px;">
          <div class="card-body">
            <h6>{{ player.name }}</h6>
          </div>
        </div>
      </a>
      {% endif %}
      {% endfor %}
    </div>
    
    <div class="row col-12 d-flex justify-content-center"><p class="btn-teams-position">{{'Brankári'}}</p></div>
    <div class="row">
      {% for player in members %}
      {% if player.position==1 %}
        <a class="col-xs-6 col-sm-6 col-md-4 col-lg-4"  href="#">
          <div class="card" style="width: 95%;margin:0px;">
            <div class="card-body">
              <h6>{{ player.name }}</h6>
            </div>
          </div>
        </a>
      {% endif %}
      {% endfor %}
    </div>

  {% endif %}  

    <div class="row col-12  d-flex justify-content-center"><p class="btn-teams-position">{{'Tréner'}}</p></div>
    <div class="row">
      {% for tren in trener %}
      {% if tren.position[0].id==5 %}

        <a class="col-xs-6 col-sm-6 col-md-4 col-lg-4"  href="#">
          <div class="card" style="width: 95%;margin:0px;">
            <div class="card-body">
              <h6>{{ tren.name }}</h6>
              {% if tren.name == "Július Šimon" %}
              <h6></h6>
              {% elif tren.name == "Dávid Danko" %}
              <h6></h6>
              {% else %}
              <h6>kontak: <a href="tel:{{ tren.phone }}">{{ tren.phone }}</a></h6>
              {% endif %}

              <h6>{{ tren.mail }}</h6>
            </div>
          </div>
        </a>
        {% endif %}
        {% endfor %}
      </div>



{% endblock content %}