{% extends "layout.html" %}
{% block content %}

<h3 class="headline">Mládež - informácie</h3>
<br>
<div class="section-full content-inner">
    <div class="container">

        <center>

      
            <p style="padding:4px;margin:2px;line-height:100%;">V klube je registrovaných viac ako 60 hráčov od 6 do 19 rokov. 
            </p> 
            <p style="padding:4px;margin:2px;line-height:100%;">Nábor nových hráčov prebieha počas celého roka. 
            </p> 
            <p style="padding:4px;margin:2px;line-height:100%;">V prípade záujmu stať sa hráčom FC Slovan Modra, kontaktujte trénera pre príslušnú vekovú kategóriu. 
            </p> 

{% for team in teamz %}
{% if not loop.first %}
<a class="btn" href="{{ url_for('team.team_name', team_name=team.name) }}">{{ team.name }} </a>

{% endif %}
{% endfor %}
        </center>

        
    </div>
</div>

<br>
<h3 class="headline">poplatky</h3>
<br>
<div class="section-full content-inner">
    <div class="container">

        <center>

      
            <h3 style="padding:4px;margin:2px;line-height:100%;">,Tréningový poplatok je 30 € a uhrádza sa prostredníctvom aplikácie PAYSY
 
            </h3> 
            <a class="btn" href="https://paysy.sk/">{{ 'www.paysy.sk' }} </a>
<br><br>

            <h3 style="padding:4px;margin:2px;line-height:100%;">IBAN: SK53 0900 0000 0050 6077 7236
 
            </h3> 
            <p style="padding:4px;margin:2px;line-height:100%;">Variabilný symbol: generuje ho systém PAYSY
 
            </p> 
            <br>
            <h3 style="padding:4px;margin:2px;line-height:100%;">Čo je zahrnuté v členskom poplatku?

 
            </h3> 
            <p style="padding:4px;margin:2px;line-height:100%;">Tréningový proces a zápasy pod vedením kvalifikovaného trénera
            </p> 
            <p style="padding:4px;margin:2px;line-height:100%;">Súťažné dresy
            </p> 
            <p style="padding:4px;margin:2px;line-height:100%;">Využívanie športovísk v časoch tréningov
            </p> 
            <p style="padding:4px;margin:2px;line-height:100%;">Tréningové pomôcky a lopty
            </p> 
            <p style="padding:4px;margin:2px;line-height:100%;">Registračné poplatky
            </p> 
            <br>
            <h3 style="padding:4px;margin:2px;line-height:100%;">Čo nie je zahrnuté v členskom poplatku?

 
            </h3> 
            <p style="padding:4px;margin:2px;line-height:100%;">Tréningová výstroj a obuv
            </p> 
            <p style="padding:4px;margin:2px;line-height:100%;">Doprava na zápasy, turnaje a iné aktivity
            </p> 
            <p style="padding:4px;margin:2px;line-height:100%;">Štartovné a strava na nesúťažné turnaje
            </p> 
            <p style="padding:4px;margin:2px;line-height:100%;">Sústredenia
            </p> 


            <br>


        </center>

        
    </div>
</div>





{% endblock content %}