{% extends "layout.html" %}
{% block content %}
<h3 class="mb-3">{{ 'e-shop' }} 
</h3>

    {% for product in products %}
        <article class="media content-section eshop-item">

            <div class="product-img">
                {% for gall in product.product_gallery %} {% if gall.orderz == 0 %}
                <a class="article-title" href="{{ url_for('products.product', product_id=product.id) }}">
                <img
                  
                  width="190"
                  height="190"
                  src="{{ url_for('static', filename='products/'+product.id|string+'/'+gall.image_file2|string) }}"
                /></a>
                {% endif %} {% endfor %}
            </div>

          <div class="media-body products-titles">
            <div class="article-metadata">
            {% for cat in category %}
            {% if cat.id == product.product_category_id %}
            <span>
              <a class="mr-2" href="{{ url_for('products.category_products', category=cat.id) }}">{{ cat.name }}</a>
            </span>
            {% endif %}
            {% endfor %}

              <small class="text-muted">{{ product.date_posted.strftime('%Y-%m-%d') }}</small>
          </div>
            
            
            {% for gall in product.gallery %}
            {% if gall.orderz == 0 %}
            <a class="article-title" href="{{ url_for('products.product', product_id=product.id) }}">
              <img width="100%" src="{{ url_for('static', filename='products/'+product.id|string+'/'+gall.image_file2|string) }}">
            </a>
            {% endif %}
            {% endfor %}
            
            <h2><a class="article-title" href="{{ url_for('products.product', product_id=product.id) }}">{{ product.title }}</a></h2>
            <!-- <p class="article-content">{{ product.content }}</p> -->
            <p class="article-content eshop-item-price">{{ product.price }} €</p>
            <p style="float:right;position:relative;right:20px;">
                <button onclick="javascript:location.href='{{ url_for('products.product', product_id=product.id) }}';" class="btn btn-sm" />View</button>
                <button onclick="javascript:location.href='{{ url_for('products.list_products') }}';" class="btn btn-sm" />Buy</button>
            </p>
            

          </div>
        </article>
    {% endfor %}
    {% for page_num in products.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if products.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('products.list_products', page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('products.list_products', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
{% endblock content %}