{% extends "layout.html" %}
{% block content %}
<br><br>

    {% for category in categories.items %}

        <article class="media content-section">
          <div class="media-body">

            <div class="article-metadata">


                <div class="article-metadata2">
                  <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('posts.new_category', category_id=category.id) }}">New Category</a>
                </div>
      
            </div>

            <h3><a class="article-title" href="{{ url_for('posts.update_category', category_id=category.id) }}">{{ category.name }}</a></h3>
          </div>
        </article>
      {% endfor %}
    {% for page_num in categories.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if categories.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('posts.list_categories', page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('posts.list_categories', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
{% endblock content %}