{% extends "layout.html" %} {% block content %}
<article class="media content-section">
  <!-- <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}"> -->
  <div class="media-body">

    {% if current_user.is_authenticated and current_user.has_roles('Admin') %}

    <div class="article-metadata">
      {% if post.author == current_user %}
      <div class="article-metadata-admin">
        <a
        class="btn btn-secondary btn-sm mt-1 mb-1"
        href="{{ url_for('posts.update_post', post_id=post.id) }}"
        >
        Update
      </a>
      <button
      type="button"
      class="btn btn-sm m-1"
      data-toggle="modal"
      data-target="#deleteModal"
      >
      Delete
        </button>
      </div>
      {% endif %}
    </div>
    
    {% endif %}

    <div>
      {% for gall in post.gallery %} {% if gall.orderz == 0 %}
      <img
      width="100%"
      src="{{ url_for('static', filename='posts/'+post.id|string+'/'+gall.image_file2|string) }}"
      />
      {% endif %} {% endfor %}
      {% for cat in category %} {% if cat.id==post.category_id %}
      <a
        class="mr-2"
        href="{{ url_for('posts.category_posts', category=cat.id) }}"
      >
        {{ cat.name }}
      </a>
      {% endif %} {% endfor %}
      
      <small class="text-muted">
        {{ post.date_posted.strftime('%Y-%m-%d') }}
      </small>
    </div>
    <h2 class="article-title">{{ post.title }}</h2>
    <p class="article-content">{{ post.content }}</p>
  </div>
</article>
<div class="content">
  <div class="container">
    <div class="row">
      {% for pic in galleries %} {% if pic.orderz > 0 %}
      
      <div class="lightbox">
        <div class="row">
          <div class="col-lg-6">
            <img
              src="https://mdbcdn.b-cdn.net/img/Photos/Thumbnails/Slides/1.webp"
              data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Slides/1.webp"
              alt="Table Full of Spices"
              class="w-100 mb-2 mb-md-4 shadow-1-strong rounded"
            />
            <img
              src="https://mdbcdn.b-cdn.net/img/Photos/Thumbnails/Square/1.webp"
              data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Square/1.webp"
              alt="Coconut with Strawberries"
              class="w-100 shadow-1-strong rounded"
            />
          </div>
          <div class="col-lg-6">
            <img
              src="https://mdbcdn.b-cdn.net/img/Photos/Thumbnails/Vertical/1.webp"
              data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Vertical/1.webp"
              alt="Dark Roast Iced Coffee"
              class="w-100 shadow-1-strong rounded"
            />
          </div>
        </div>
      </div>
      
      {% endif %} {% endfor %}
    </div>
  </div>
</div>

{% endblock content %}
