{% extends "layout.html" %}
{% block content %}

<style scoped>
    .upload-btn-wrapper {
        position: relative;
        overflow: hidden;
        display: inline-block;
      }
      
      
      .upload-btn-wrapper input[type=file] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
      }

        .draggable {
    cursor: grab;

  }
        .draggable::drag {
            cursor: grabbing;

  }

  .dragging {
  }

  .position{
    position:relative;
    margin-right:*10px;
    margin-top:-415px;
    padding-top: 0px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    line-height: 90%;
    z-index: 99999999999;
    opacity: 1;
  }
  .col img{
    margin-bottom: 9px;
    display: grid;
    width: 390px;
    height: 200px;
    object-fit: cover;
  }
</style>
<div class="content-section">
    <form action="" method="post" class="form" role="form" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <h3>{{ title }}</h3>
            <div class="form-group">
                {{ form.category.label(class="form-control-label") }}
                {% if form.category.errors %}
                    {{ form.category(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.category.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.category(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.title.label(class="form-control-label") }}
                {% if form.title.errors %}
                    {{ form.title(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.title.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.title(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.content.label(class="form-control-label") }}
                {% if form.content.errors %}
                    {{ form.content(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.content.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.content(rows='13',class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.date_posted.label(class="form-control-label") }}
                {% if form.date_posted.errors %}
                    {{ form.date_posted(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.date_posted.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                {{ form.date_posted(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <!-- Pridaný kód pre obrázky -->
            <br>










            <center><h3>Post Image Gallery</h3></center>
            <br>

          
        <center>
            <div id="image-gallery2" class="row">
                <!-- Galéria obrázkov sa bude aktualizovať pomocou JavaScriptu -->
            </div>
        </center>
            <br><br>
            <center>
                <h3>New Images</h3></center>
          

            
            
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-8">
                        <input type="hidden" name="title" placeholder="Image Title" class="form-control">
                    </div>
                    <div class="col-sm-12">
                        <center>
                        <div class="upload-btn-wrapper">
                                <button class="btn" >Upload a file</button>
                                <input type="file" id="image_file2" name="image_file2"/>
                            </div>
                        </center>
                    </div>
                </div>
            </div>

<br>
<br>
            
        </fieldset>
    <center>

        <div class="form-group">
            {{ form.submit(class="btn-reverse") }}
        </div>
        
    </form>
    {% set post_id = '1' %}
    <button onclick="javascript:location.href='{{ url_for('posts.list_posts') }}';" class="btn btn-sm" />Back</button>
</center>

</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    document.getElementsByName('image_file2')[0].addEventListener('change', function(e) {
        e.preventDefault();
        const formData = new FormData(imageForm);
        //alert(formData);
        addImages(formData);
    });
    

</script>

<script>







    // JavaScript kód pre asynchrónne zobrazenie obrázkov, pridávanie a mazanie
    const imageGallery = document.getElementById('image-gallery');
    const imageForm = document.querySelector('form');
    const uploadImageButton = document.getElementById('uploadImageButton');

    // Funkcia na zobrazenie obrázkov z galérie
    async function showImages() {
        const response = await fetch(`/posts/images/{{post.id|string}}`);
        const images = await response.json();

        // Vyčistiť galériu pred aktualizáciou
        imageGallery.innerHTML = '';
        //imageGallery.classList.add('row');

        // Zobraziť obrázky v galérii
        images.forEach(image => {
           const div = document.createElement('div');
           div.classList.add('col-6','draggable'); // Pridaná trieda 'draggable'
           div.setAttribute('data-image-id', image.id);
            
            const img = document.createElement('img');
           // img.classList.add('draggable'); // Pridaná trieda 'draggable'
            img.src = image.image_url;
            img.alt = image.title;
            img.orderz = image.orderz;
            img.style.width = '100%';
            img.style.height = '200px';
            img.style.objectFit = 'cover';

            img.style.margin = '5px';

            const deleteButton = document.createElement('button');
            deleteButton.textContent = 'X';
            //deleteButton.setAttribute('data-image-id2', image.id);
            deleteButton.classList.add('btn');
            deleteButton.style.position = 'relative';
            deleteButton.style.float = 'right';
            deleteButton.style.right = '1%';
            deleteButton.style.bottom = '82%';
            deleteButton.type = 'button';
            //deleteButton.style.zIndex = '9999999999999999999'; // Nastaviť z-index na 2


            deleteButton.addEventListener('click', () => deleteImage(image.id));
            imageGallery.appendChild(div);
            div.appendChild(img);
            div.appendChild(deleteButton);

           // imageGallery.appendChild(div);
        });


        // Pripojiť poslucháčov udalostí drag-and-drop k ťahateľným obrázkom
        const draggableElements = document.querySelectorAll('.draggable');
        draggableElements.forEach((element) => {
            element.addEventListener('dragstart', handleDragStart);
            element.addEventListener('dragover', handleDragOver);
            element.addEventListener('drop', handleDrop);
        });

        if(images.length==0){
            imageGallery.innerHTML='<h4>NO IMAGES</h4>';
        }

    }

    // Funkcia na pridanie obrázkov
    async function addImages(formData) {
        try {                               
            const response = await fetch(`/posts/images/{{post.id|string}}/upload`, {
                method: 'PUT',
                body: formData,
            });

            if (response.status === 200) {
                // Úspešne pridané obrázky, aktualizovať galériu
                refreshTable();
            }
        } catch (error) {
            console.error('Chyba:', error);
        }
    }

    async function removeImage(imageId) {
        const imageToRemove = document.querySelector(`[data-image-id="${imageId}"]`);
        const imageToRemove2 = document.querySelector(`[data-image-id2="${imageId}"]`);
        if (imageToRemove) {
            // Spustiť animáciu fade-out
            imageToRemove.style.transition = 'opacity 0.5s ease-in-out';
            imageToRemove.style.opacity = '0';
            imageToRemove2.style.transition = 'opacity 0.5s ease-in-out';
            imageToRemove2.style.opacity = '0';
            await new Promise(resolve => setTimeout(resolve, 200)); // Počkajte na dokončenie animácie
            // Odstrániť obrázok z DOM
            imageGallery.removeChild(imageToRemove);
            imageGallery.removeChild(imageToRemove2);
            
        }
        showImages();
    }

    // Funkcia na odstránenie obrázka
    async function deleteImage(imageId) {
        try {                               
            const response = await fetch(`/posts/{{post.id|string}}/gallery/delete/${imageId}`, {
                method: 'DELETE'
            });
    
            if (response.status === 200) {
               // alert('jupi');
                // Úspešne vymazaný obrázok, odstrániť z galérie bez načítania všetkých obrázkov
                removeImage(imageId);
                refreshTable();
            }
        } catch (error) {
            console.error('Chyba:', error);
        }
    }

    // Ovládanie udalostí drag-and-drop
    function handleDragStart(event) {
        event.dataTransfer.setData('text/plain', event.target.dataset.imageId);
        event.target.classList.add('dragging');
        event.target.style.border = '4px solid red';
        draggingElement = event.target;
        const offsetX = event.clientX - event.target.getBoundingClientRect().left;
        const offsetY = event.clientY - event.target.getBoundingClientRect().top;
        event.dataTransfer.setDragImage(event.target, offsetX, offsetY); // Nastavenie obrázka ťahania na celý obrázok
    }
    
      function handleDragOver(event) {
        event.target.style.border = 'none';
        event.preventDefault();
       
      }
    
      function handleDrop(event) {
        event.preventDefault();
        const sourceImageId = event.dataTransfer.getData('text/plain');
        const targetImageId = event.target.dataset.imageId;
        const imageGallery = document.getElementById('image-gallery');
    
        const sourceImage = document.querySelector(`[data-image-id="${sourceImageId}"]`);
        const targetImage = document.querySelector(`[data-image-id="${targetImageId}"]`);
    
        if (sourceImage && targetImage && sourceImage.parentNode === imageGallery && targetImage.parentNode === imageGallery) {
          const sourceOrder = sourceImage.dataset.orderz;
          const targetOrder = targetImage.dataset.orderz;
    
          sourceImage.dataset.orderz = targetOrder;
          targetImage.dataset.orderz = sourceOrder;
    
          // Reorder the images visually in the gallery
          imageGallery.insertBefore(sourceImage, targetImage);
        }
    
        // Zrušiť triedu 'dragging' po ukončení ťahania
        if (draggingElement) {
          draggingElement.classList.remove('dragging');
          draggingElement = null;
        }

        saveImageOrder()
      }


    // Načítať obrázky pri načítaní stránky
    showImages();


    async function saveImageOrder() {
    
        try {
          const response = await fetch(`/posts/{{post.id|string}}/gallery/update_order`, {
            method: 'PUT',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({ images: newOrder }),
          });
    
          if (response.status === 200) {
            // Image order successfully updated
            refreshTable()
          }
        } catch (error) {
          console.error('Error:', error);
        }
      }

    // Poslať obrázky na server po odoslaní formulára
    uploadImageButton.addEventListener('click', (e) => {
        e.preventDefault();
        const formData = new FormData(imageForm);
        addImages(formData);
    });



        $('div').on('update', function () {
          // Handle the 'update' event here
          // This code will run when tbody.trigger('update') is called
          var data = [];
          $(this).find('div').each(function (index) {
            data.push({
              image_id: $(this).data('image-id'),
              post_id: $(this).data('post-id'),
              orderz: index
            });
          });
          $.ajax({
            type: 'POST',
            url: '/posts/{{post.id|string}}/gallery/update_order',
            data: JSON.stringify(data),
            contentType: 'application/json',
            dataType: 'json',
            success: function (response) {
              console.log(response);
              refreshTable();
            }
          });
        });

</script>

<script>


    async function refreshTable() {
        var classs='';
        $.get('/posts/images/{{post.id|string}}', function(data) {
            //alert(data);
            var tbody = $("#image-gallery2");
            tbody.empty();
            data.forEach(function(item) {
                //alert(item.image_file2)
                if(item.orderz % 5 === 0){classs="draggable-row";}else{classs="draggable-row";}
                var row = `<div class="col draggable" data-image-id="${item.id}" data-post-id="${item.post_id}" ><img src="${item.image_url}"> <button type="button" onclick="deleteImage(${item.id})"class="btn btn-close position">x</button>
                </div>`;
                var newRow = $(row); // Konvertujte riadok na jQuery objekt
                newRow.hide(); // Skryte nový riadok pred fadeIn()
                tbody.append(newRow);
                newRow.fadeIn(); // Použite fadeIn() na zobrazenie nového riadku
            });
            tbody.sortable({
                update: function(event, ui) {
                    var data = [];
                    tbody.find("div").each(function(index) {
                        data.push({
                            image_id: $(this).data("image-id"),
                            post_id: $(this).data("post-id"),
                            orderz: index
                        });
                        
                    });
                    //alert(data);
                    $.ajax({
                        type: 'POST',
                        url: '/posts/{{post.id|string}}/gallery/update_order',
                        data: JSON.stringify(data),
                        contentType: 'application/json',
                        dataType: 'json',
                        success: function(response) {
                            //alert(response);
                            console.log(response);
                            refreshTable();
                        }
                    });
                }
            }).disableSelection();
        });
    }

    refreshTable();

</script>








{% endblock content %}