{% extends 'layout.html' %} 
{% block content %}
<h3 class="headline">O klube</h3>

<div class="">
    <!-- About Company -->
    <!-- Our Awesome Services -->
    <div class="section-full content-inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center section-head">
<br>
                    <p class="m-b0"><img class="image-logo-page" src="../static/main/logo-slovan-modra-biele.png" width="220" ></p>
                </div>
            </div>
            <center>


                <p style="padding:4px;margin:2px;line-height:100%;">Rok založenia</p> <h3 style="padding:2px;margin:2px;line-height:100%;">1926 </h3>
                <br>
                <p style="padding:4px;margin:2px;line-height:100%;">Štadión</p><h3 style="padding:2px;margin:2px;line-height:100%;"> Futbalový štadión FC Slovan Modra</h3>
                <br>
                <p style="padding:4px;margin:2px;line-height:100%;">Klubové farby</p> <h3 style="padding:2px;margin:2px;line-height:100%;">Modrá a biela</h3>
                <br>
                <p style="padding:4px;margin:2px;line-height:100%;">Súťaž</p> <h3 style="padding:2px;margin:2px;line-height:100%;">Futbalservis V. liga BFZ</h3>
                <br>
                <p style="padding:4px;margin:2px;line-height:100%;">Prezident</p> <h3 style="padding:2px;margin:2px;line-height:100%;">Ján Horáček</h3>
                <br>
                <p style="padding:4px;margin:2px;line-height:100%;">Generálny manažér</p> <h3 style="padding:2px;margin:2px;line-height:100%;">Norbert Sališ</h3>
                <br>

                <p style="padding:4px;margin:2px;line-height:100%;">Úspechy klubu</p>
                <h3 style="padding:4px;margin:2px;line-height:100%;">víťaz V. ligy BFZ-vidiek 2015/2016</h3>
                <h3 style="padding:4px;margin:2px;line-height:100%;">víťaz V. ligy ObFZ-vidiek 2021/2022</h3>
                <br><br>
                <img src="../static/main/stadion-fcsm.jpg" style="width:100%; max-width:463px;">

            </center>

        </div>
    </div>
    <!-- About Company END -->

</div>

{% endblock %}
