{% extends 'layout.html' %} 
{% block content %}
<h3 class="headline">Dokumenty</h3>

<div class="">
    <!-- About Company -->
    <!-- Our Awesome Services -->
    <div class="section-full content-inner">
        <div class="container">

            <center>

                <br><br>
                <h3 style="padding:2px;margin:2px;line-height:100%;">Registrácia nového člena klubu</h3>
                 <p style="padding:4px;margin:2px;line-height:120%;">
                    Záujemcovia, ktorí sa chcú stať členmi OZ FC Slovan Modra vypíšu registračný formulár a podpísaný ho zašlú na emailovú adresu 
                    <a href="mailto:fcslovanmodra@gmail.com">fcslovanmodra@gmail.com</a>.</h4> 
                    O prijatí za člena rozhoduje Výkonný výbor, ktorý o schválení prihlášky informuje člena a vyzve ho k úhrade členského poplatku vo výške 
                    30 € na bankový účet združenia. Členstvo vzniká dňom prijatia za člena. </p>
                <br>
                <p style="padding:4px;margin:2px;line-height:100%;">Tu si stiahnite registračný formulár</p>
                <h4><a href="https://fcsm-files.s3.amazonaws.com/posts/212/gallery/b94a9b3a793b4397a8a3a40d2b7b9788_Prihlaska_za_clena_OZ.pdf">>>Registrácia nového člena klubu<<</a></h4>
 

            </center>

                    
            
        </div>
    </div>
    <!-- About Company END -->
    
</div>

{% endblock %}
