<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/cc.css') }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.css" />

    {% if title %}
        <title>FC Slovan Modra - {{ title }}</title>
    {% else %}
        <title>FC Slovan Modra</title>
    {% endif %}
</head>
<body >

    <header class="site-header" >
      {% include 'menu.html' %}
    </header>
    <br>
    
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}

                <div class="container mt-20 mainblock">
                  {% block content %}{% endblock %}
                </div>

        </div>

        <div class="col-md-4">
  
          <div class="content-section mt-6">
          <div class="content-section-sidebar">
            <h3 style="padding-top:16px;">Usefull links</h3>
            <p class='text-muted'>
              <ul class="list-group">
                <li class="list-group-item list-group-item-light"><a href="{{ url_for('calendar.index') }}">Calendar</a></li>
                <a href="{{ url_for('posts.new_post') }}">New Post</a>
                <a href="{{ url_for('products.new_product') }}">New Product</a>
                <a href="{{ url_for('posts.list_categories') }}">Categories</a>
                <!-- <a class="nav-item nav-link" href="{{ url_for('users.register') }}">New Member</a> -->
                <a href="{{ url_for('users.list_members') }}">Members</a>
                <a href="{{ url_for('team.list_teams') }}">Teams</a>
                <a href="{{ url_for('users.list_roles') }}">Roles</a>
                <a href="{{ url_for('users.account') }}">My Account</a>
                <a href="{{ url_for('users.logout') }}">Logout</a>

              </ul>
            </p>
          </div>
          </div>
        </div>
      </div>
    </main>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>


    <script>
     // $(document).ready(function(){$("img").click(function(){this.requestFullscreen()})});
    </script>
  </body>
</html>