<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/cc.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/lightbox.css') }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.css" />

    {% if title %}
        <title>FC Slovan Modra - {{ title }}</title>
    {% else %}
        <title>FC Slovan Modra</title>
    {% endif %}
</head>
<body >
    <div id="loader"></div>
    <header class="site-header" >
      {% include 'menu.html' %}
    </header>
    <br>
    
    <main style="margin-top:-30px;" role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
  {% block content %}{% endblock %}


        </div>

        <div class="col-md-4 sidebar-club">
          {% if current_user.is_authenticated %}
          {% if current_user.has_roles('Admin') %}


  
          <div class="content-section mt-6">
            <div class="content-section-sidebar">
              <h3 style="padding-top:12px;">Admin panel</h3>
              <p class="text-muted">
                <ul class="list-group">
                  <h6 style="font-size:75%;color:#6d9bff;opacity: 0.7;">{{current_user.email}}</h6>
                  <a id="kalendar_button" href="#" data-toggle="modal" data-target="#calenadrModal" data-backdrop="static" data-keyboard="false">Kalendár</a>
                  <a href="{{ url_for('posts.new_post') }}">Nový článok</a>
                  <a href="{{ url_for('products.new_product') }}">Nový produkt</a>
                  <a href="{{ url_for('posts.list_categories') }}">Kategórie článkov</a>
                  <!-- <a class="nav-item nav-link" href="{{ url_for('users.register') }}">New Member</a> -->
                  <a href="{{ url_for('users.list_members') }}">Členovia</a>
                  <a href="{{ url_for('team.list_teams') }}">Družstvá</a>
                  <a href="{{ url_for('users.list_roles') }}">Roly na stránke</a>
                  <a href="{{ url_for('users.account') }}">Môj účet</a>
                  {% if current_user.is_authenticated %}
                  <a href="{{ url_for('users.logout') }}">Odhlásiť sa</a>
                  {% endif %}

                </ul>
              </p>
            </div>
          </div>
          {% else %}
          <div class="content-section mt-6">
            <div class="content-section-sidebar">
              <h3 style="padding-top:12px;">Užívateľský prístup</h3>
              <p class="text-muted">
                <h6 style="font-size:70%;color:#6d9bff;opacity: 0.6;">{{current_user.email}}</h6>
                <ul class="list-group">
                  <a id="kalendar_button" href="#" data-toggle="modal" data-target="#calenadrModal" data-backdrop="static" data-keyboard="false">Kalendár</a>
                  <a href="{{ url_for('users.account') }}">Môj účet</a>
                  <a href="{{ url_for('users.logout') }}">Odhlásiť sa</a>


                </ul>
              </p>
            </div>
          </div>

          {% endif %}
          {% else %}
          

          

          {% endif %}


          <div class="content-section mt-6">
            <div class="content-section-sidebar">

            <div class="dez-post-media dez-img-effect zoom-slow">
              <h3 style="padding-top:12px;">Najbližší zápas</h3>
              <center>
              <button class="btn btn-live" onclick="javascript:location.href='../product/2';">LIVE</button><br>
              <img class="image-logo" style="padding:16px;" height="100" src="https://www.fcslovanmodra.sk/images/sports-logo/jakubov.png">
              <img class="image-logo" style="padding:16px;" height="100" src="/static/profile_pics/68cc54d8cc2d4dd9.png">
              <br>
              
              

              <h3 style="text-align:center;">TJ ZÁHORAN JAKUBOV </h3>
              <h6 style="text-align:center;">vs.</h6>
              <h3 style="text-align:center;margin-top:-5px;">FC SLOVAN MODRA</h3>
              <h6>23. 04. 2023 | <b>17:00</b></h6>





            </center>

   
            </div>
            </div>

          </div>

<br>
          <div class="content-section mt-26">
            <div class="dez-post-media dez-img-effect zoom-slow">
              <h3 style="padding-top:12px;">Partneri</h3>
              <center><p style="font-size:120%;margin-top:-9px;">Navštívte stránky našich donorov</p></center>



              
              <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active image-logo">
                    <a class="sponsor-img d-block w-100" href="https://www.modra.sk/" target="_blank"><img width="80%" src="https://www.fcslovanmodra.sk/images/sponzori/modra.jpg"></a>

                  </div>
                  <div class="carousel-item">
                    <a class="sponsor-img d-block w-100"  href="https://www.nadaciaspp.sk/" target="_blank"><img width="80%"  src="https://www.fcslovanmodra.sk/images/sponzori/nadacia.jpg"></a>
                  </div>
                  <div class="carousel-item">
                    <a class="sponsor-img d-block w-100"  href="https://www.hameln-rds.sk/sk/" target="_blank"><img width="80%"  src="https://www.fcslovanmodra.sk/images/sponzori/hameln-rds.jpg"></a>
                  </div>
                  <div class="carousel-item">
                    <a class="sponsor-img d-block w-100"  href="https://cafferoma.sk/" target="_blank"><img width="80%"  src="https://www.fcslovanmodra.sk/images/sponzori/caferoma.jpg"></a>
                  </div>
                  <div class="carousel-item">
                    <a class="sponsor-img d-block w-100"  href="https://www.hameln-rds.sk/sk/" target="_blank"><img width="80%"  src="https://www.fcslovanmodra.sk/images/sponzori/hameln-rds.jpg"></a>
                  </div>
                  <div class="carousel-item">
                    <a class="sponsor-img d-block w-100"  href="https://www.instagram.com/futureballer.sk/" target="_blank"><img width="80%"  src="https://www.fcslovanmodra.sk/images/sponzori/ps-ultimate.jpg"></a>
                  </div>
                  <div class="carousel-item">
                    <a class="sponsor-img d-block w-100"  href="https://appdesign.sk/" target="_blank"><img width="80%"  src="https://www.fcslovanmodra.sk/images/sponzori/appdesign.jpg"></a>
                  </div>

                  
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>

              
            </div>
          </div>

          
          <br>
          <br>

            
          <div class="content-section mt-26">
            <div class="dez-post-media dez-img-effect zoom-slow">
              <h3 style="padding-top:0px;">Tabuľky</h3>

              <div id="tabz" class="carousel slide" data-touch="true">
                <center>
                  <button class="btn active" data-target="#tabz" data-slide-to="0">A</button>
                  <button class="btn " data-target="#tabz" data-slide-to="1" value="U19">U19</button>
                  <button class="btn " data-target="#tabz" data-slide-to="2">U17</button>
                  <button class="btn " data-target="#tabz" data-slide-to="3">U15</button>
                  <button class="btn " data-target="#tabz" data-slide-to="4">U13</button>
                </center>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <table class="table table-dark scoretable">
                      <thead>
                          <tr class="table-headding">
                              <th>#</th>
                              <th>Tím</th>
                              <th>B</th>
                              <th>V</th>
                              <th>R</th>
                              <th>P</th>
                          </tr>
                      </thead>
                      <tbody>
                      {% for tteam in score_table if tteam.team_id == 1%}
                  
                                      <tr> 
                                      <th scope="row">{{loop.index}}</th> 
                                      <td>{{tteam.club}}</td> 
                                      <td>{{tteam.points}}</td> 
                                      <td>{{tteam.wins}}</td> 
                                      <td>{{tteam.draws}}</td> 
                                      <td>{{tteam.loses}}</td> 
      
                                    </tr>
             
                      {% endfor %}
                      </tbody>
      
                    </table>
                  </div>

                  <div class="carousel-item">
                    <table class="table table-dark scoretable">
                      <thead>
                          <tr class="table-headding">
                              <th>#</th>
                              <th>Tím</th>
                              <th>B</th>
                              <th>V</th>
                              <th>R</th>
                              <th>P</th>
                          </tr>
                      </thead>
      
                      <tbody>
                      {% for tteam in score_table if tteam.team_id == 2 %}
                  
                                      <tr> 
                                      <th scope="row">{{loop.index}}</th> 
                                      <td>{{tteam.club}}</td> 
                                      <td>{{tteam.points}}</td> 
                                      <td>{{tteam.wins}}</td> 
                                      <td>{{tteam.draws}}</td> 
                                      <td>{{tteam.loses}}</td> 
      
                                    </tr>
             
                      {% endfor %}
                      </tbody>
      
                    </table>
                  </div>
                  <div class="carousel-item">
                    <table class="table table-dark scoretable">
                      <thead>
                          <tr class="table-headding">
                              <th>#</th>
                              <th>Tím</th>
                              <th>B</th>
                              <th>V</th>
                              <th>R</th>
                              <th>P</th>
                          </tr>
                      </thead>
      
                      <tbody>
                      {% for tteam in score_table if tteam.team_id == 3 %}
                                      <tr> 
                                      <th scope="row">{{loop.index}}</th> 
                                      <td>{{tteam.club}}</td> 
                                      <td>{{tteam.points}}</td> 
                                      <td>{{tteam.wins}}</td> 
                                      <td>{{tteam.draws}}</td> 
                                      <td>{{tteam.loses}}</td> 
      
                                    </tr>
                      {% endfor %}
                      </tbody>
      
                    </table>
                  </div>
                  <div class="carousel-item">
                    <table class="table table-dark scoretable">
                      <thead>
                          <tr class="table-headding">
                              <th>#</th>
                              <th>Tím</th>
                              <th>B</th>
                              <th>V</th>
                              <th>R</th>
                              <th>P</th>
                          </tr>
                      </thead>
      
                      <tbody>
                      {% for tteam in score_table if tteam.team_id == 4 %}
                        
                                      <tr> 
                                      <th scope="row">{{loop.index}}</th> 
                                      <td>{{tteam.club}}</td> 
                                      <td>{{tteam.points}}</td> 
                                      <td>{{tteam.wins}}</td> 
                                      <td>{{tteam.draws}}</td> 
                                      <td>{{tteam.loses}}</td> 
      
                                    </tr>
             
                      {% endfor %}
                      </tbody>
      
                    </table>
                  </div>
                  <div class="carousel-item">
                    <table class="table table-dark scoretable">
                      <thead>
                          <tr class="table-headding">
                              <th>#</th>
                              <th>Tím</th>
                              <th>B</th>
                              <th>V</th>
                              <th>R</th>
                              <th>P</th>
                          </tr>
                      </thead>
                      <tbody>
                      {% for tteam in score_table if tteam.team_id == 5 %}
                                      <tr> 
                                      <th scope="row">{{loop.index}}</th> 
                                      <td>{{tteam.club}}</td> 
                                      <td>{{tteam.points}}</td> 
                                      <td>{{tteam.wins}}</td> 
                                      <td>{{tteam.draws}}</td> 
                                      <td>{{tteam.loses}}</td> 
                                    </tr>
                      {% endfor %}
                      </tbody>
      
                    </table>
                  </div>

                </div>

              </div>


            </div>
          </div>
          
          
          
          
          
        </div>
      </div>
    </main>

    {% if current_user.is_authenticated %}

    <div
      
      class="modal fade"
      id="calenadrModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="calenadrModalLabel"
      aria-hidden="true"
      style="z-index: 999999999999999999999999999999;"
    >
      <div class="modal-dialog" role="document" style="overflow:none;margin:auto;padding-top: 16px;">
        <div class="modal-content" style="height: 660px;overflow:none;">
          <button
          type="button"
          class="btn btnclose"
          data-dismiss="modal"
          >
          X
        </button>
<div id="iframeHolder"></div>

    </div>
      </div>
    </div>
  
    {% endif %}




    <br><br>
    <footer class="footer">
      <br>
      <div class="container bottom_border">
      <div class="row">
      <div class=" col-sm-4 col-md col-sm-4  col-12 col">
      <h3>FC SLOVAN MODRA</h5>
      <!--headin5_amrc-->
      <p style="font-size: 90%;opacity: 0.9;">Sme najstarší športový klub v Modre, ktorý bol založený v roku 1926 staviteľom Jozefom Horákom a učiteľom Jozefom Kopom. Dnes je v klube registrovaných 115 hráčov v siedmich družstvách. </p>
      <div style="margin-right:15px; font-size: 90%;opacity: 0.9;">
        <i class="fa fa-location-arrow" aria-hidden="true"></i> Kalinčiakova 6, 900 01 Modra<br>
        <i class="fa fa-phone" aria-hidden="true"></i>  +421 918 128 003<br>
        <i class="fa fa fa-envelope" aria-hidden="true"></i> klub@fcsm.sk
      </div>
      
      
      </div>
      
      
      <div class="mx-auto col-sm-4 col-md  col-6 col">
        <center><img class="image-logo" style="margin-left:-20px;padding-top:20px;padding-bottom:20px;opacity:0.99;" width="169" src="https://www.fcslovanmodra.sk/images/logo-slovan-modra-biele.png"></center>
      </div>
      
      

      
      <div class=" col-sm-4 col-md  col-12 col">
      <h3>Follow us</h3>
      <!--headin5_amrc ends here-->
      <div class="row mb-10" style="margin-bottom: 10px;">
     
        <div class="col-12">
          <center>
             <div style="height:30px;display: block;"></div>
          </center>

        </div>

        <div class="col-4">

        </div>
        <div class="col-2">
          <center>
            <a href="#" class="product-img2"><i style="font-size: 300%;text-align: center;" class="fa fa-facebook-f"></i> </a>
          </center>
        </div>

        <div class="col-2">
          <center>
            <a href="#" class="product-img2"><i style="font-size: 300%;text-align: center;" class="fa fa-youtube"></i> </a>
          </center>
        </div>
        <div class="col-4">

        </div>

      </div>
      <!--footer_ul2_amrc ends here-->
      </div>
      </div>
      </div>
      
      
      <div class="container">

      <!--foote_bottom_ul_amrc ends here-->
      <p style="margin-top:20px;font-size: 75%;" class="text-center">Copyright @2023 | Designed With by <a href="https://appdesign.sk">appdesign.sk</a></p>
      
        
      </footer>
<script>
    document.onreadystatechange = function() {
        if (document.readyState !== "complete") {
            //document.querySelector(
            //"body").style.visibility = "hidden";
            document.querySelector(
            "#loader").style.visibility = "visible";
        } else {
            document.querySelector(
            "#loader").style.display = "none";
            //document.querySelector(
            //"body").style.visibility = "visible";
        }
    };
</script>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/team.js') }}"></script>
    <script src="{{ url_for('static', filename='js/product.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lightbox.js') }}"></script>
    <script>
     // $(document).ready(function(){$("img").click(function(){this.requestFullscreen()})});
    </script>
    <script type="text/javascript">
      $(function(){
          $('#kalendar_button').click(function(){
            document.querySelector(
            "#loader").style.visibility = "visible";
            $('#iframeHolder').html('<iframe id="calendar_iframe" style="z-index:9999;height:640px;margin:4px;padding:0px;width:100%;border:none;overflow:none;background-color: black;" src="{{ url_for('calendar.index') }}"></iframe>');
          });   
      });
      </script>
      <script src="https://js.stripe.com/v3/"></script>
      <script>
        const checkout_publick_key = '{{checkout_publick_key}}';
        const checkout_session_id = '{{checkout_session_id}}';
      </script>
      <script src="{{ url_for('static', filename='js/stripe-script-no-ajax.js') }}"></script>
  </body>
</html>