<nav class="navbar navbar-expand-md navbar-dark bg-steel">
    <div class="container">

      <a class="navbar-brand p-0 m-0" href="/"><img class="image-logo-page" style="padding-top:-10px;" src="{{ url_for('static', filename='profile_pics/68cc54d8cc2d4dd9.png') }}" height="82" width="82">  FC Slovan Modra</a>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div style="margin-top:-7px;" class="collapse navbar-collapse" id="navbarToggle"  >
          <div class="navbar-nav mr-auto">
            <ul class="navbar-nav mr-auto text-center">
            <li class="nav-item nav-link ">
              <a href="{{ url_for('main.about') }}">Klub</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" style="margin-right:1px;margin-top:0px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Družstvá</a>

              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                
                <br>
                {% for team in teamz %}
                <a class="nav-item nav-link" href="{{ url_for('team.team_name', team_name=team.name) }}">{{ team.name }} </a>
                {% endfor %}

              </div>
            </li>

            <li class="nav-item nav-link">
              
              <li class="nav-item" style="margin-left:-15px;">
                <a class="nav-link" href="{{ url_for('posts.list_posts') }}">Články</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('products.list_products') }}">Live</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('main.sponsors') }}">Partneri</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" target="_blank" href="https://fanzone.sk/kategoria-produktu/futbal/fc-slovan-modra/">FanZone</a>
              </li>


            </ul>


        </div>
        <!-- Navbar Right Side -->
        <div class="navbar-nav" >
        
          {% if not current_user.is_authenticated %}
          <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="{{ url_for('users.login') }}">Login</a>
            <a class="nav-item nav-link" href="{{ url_for('users.register') }}">Registrovať</a>
          </div>
          {% endif %}
          {% if current_user.is_authenticated %}
          <ul class="navbar-nav mr-auto" >
            <li class="nav-item dropdown">
                
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <img class="rounded-circle account-img2" src="/static/profile_pics/{{current_user.image_file}}">
        
              </a>
              {% if current_user.has_roles('Admin') %}

              <div class="dropdown-menu mb-10" aria-labelledby="navbarDropdown" >
                <br>
                <a class="nav-item nav-link" href="{{ url_for('posts.new_post') }}">Nový článok</a>
                <a class="nav-item nav-link" href="{{ url_for('products.new_product') }}">Nový produkt</a>
                <a class="nav-item nav-link" href="{{ url_for('posts.list_categories') }}">Kategórie článkov</a>
                <!-- <a class="nav-item nav-link" href="{{ url_for('users.register') }}">New Member</a> -->
                <a class="nav-item nav-link" href="{{ url_for('users.list_members') }}">Členovia</a>
                <a class="nav-item nav-link" href="{{ url_for('team.list_teams') }}">Družstvá</a>
                <a class="nav-item nav-link" href="{{ url_for('users.list_roles') }}">Roly na stránke</a>
                <a class="nav-item nav-link" href="{{ url_for('users.account') }}">Môj účet</a>
                {% if current_user.is_authenticated %}
                <a class="nav-item nav-link" href="{{ url_for('users.logout') }}">Odhlásiť sa</a>
                {% endif %}
              </div>
              {% else %}
              <div class="dropdown-menu mb-10" aria-labelledby="navbarDropdown" >
                <br>
              <a class="nav-item nav-link" href="{{ url_for('users.account') }}">My Account</a>
              <a class="nav-item nav-link" href="{{ url_for('users.logout') }}">Logout</a>       
              </div>       
              {% endif %}
            </li>
          </ul>
        {% endif %}
        </div>
      </div>
    </div>
  </nav>
