<nav class="navbar navbar-expand-md navbar-dark bg-steel">
    <div class="container">

      <a class="navbar-brand p-0 m-0" href="/"><img class="image-logo" src="{{ url_for('static', filename='main/logo-slovan-modra-biele.png') }}" width="50">  FC Slovan Modra</a>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggle"  >
          <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{{ url_for('main.home') }}">Club</a>
              <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="margin-left:-27px;margin-top:-1px;">Team</a>

              <div class="dropdown-menu" aria-labelledby="navbarDropdown" >
                
                <br>
                {% for team in teamz %}
                <a class="nav-item nav-link" href="{{ url_for('team.team_name', team_name=team.name) }}">{{ team.name }} </a>
                {% endfor %}

              </div>
            </li>

        </ul>

          <a class="nav-item nav-link" href="{{ url_for('posts.list_posts') }}">Posts</a>
          <a class="nav-item nav-link" href="{{ url_for('products.list_products') }}">E-Shop</a>
          <a class="nav-item nav-link" href="{{ url_for('main.about') }}">About</a>



        </div>
        <!-- Navbar Right Side -->
        <div class="navbar-nav" >
          {% if not current_user.is_authenticated %}
          <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="{{ url_for('users.login') }}">Login</a>
            <a class="nav-item nav-link" href="{{ url_for('users.register') }}">Register</a>
          </div>
          {% endif %}
          {% if current_user.is_authenticated %}
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <img class="rounded-circle account-img2" src="/static/profile_pics/{{current_user.image_file}}">
        
              </a>
              <div class="dropdown-menu mb-10" aria-labelledby="navbarDropdown" >
                <a class="nav-item nav-link" href="{{ url_for('posts.new_post') }}">New Post</a>
                <a class="nav-item nav-link" href="{{ url_for('products.new_product') }}">New Product</a>
                <a class="nav-item nav-link" href="{{ url_for('posts.list_categories') }}">Categories</a>
                <!-- <a class="nav-item nav-link" href="{{ url_for('users.register') }}">New Member</a> -->
                <a class="nav-item nav-link" href="{{ url_for('users.list_members') }}">Members</a>
                <a class="nav-item nav-link" href="{{ url_for('team.list_teams') }}">Teams</a>
                <a class="nav-item nav-link" href="{{ url_for('users.list_roles') }}">Roles</a>
                <a class="nav-item nav-link" href="{{ url_for('users.account') }}">My Account</a>
                <a class="nav-item nav-link" href="{{ url_for('users.logout') }}">Logout</a>
              </div>
            </li>
          </ul>
        {% endif %}
        </div>
      </div>
    </div>
  </nav>
