
{% extends 'layout.html' %} 
{% block content %}
<h3 style="padding-top:12px;padding-bottom:32px;">Partneri</h3>




<center>
<div class="content-section mt-6">

      
  <div class="row col-12  d-flex justify-content-center"><p class="btn-teams-position">{{'Hlavní partneri'}}</p></div>
  
  <a class="sponsor-img d-block w-100" href="https://www.modra.sk/" target="_blank"><img width="80%" src="../static/sponsors/modra.jpg"></a>
  <a class="sponsor-img d-block w-100"  href="https://www.hameln-rds.sk/sk/" target="_blank"><img width="80%"  src="../static/sponsors/hameln-rds.jpg"></a>
  <br>
  <div class="row col-12  d-flex justify-content-center"><p class="btn-teams-position">{{'Partneri'}}</p></div>
    <a class="sponsor-img d-block w-100"  href="https://www.komaco-cba.sk/" target="_blank"><img width="80%"  src="../static/sponsors/comaco.jpg"></a>
    <a class="sponsor-img d-block w-100"  href="https://www.pavos.sk/" target="_blank"><img width="80%"  src="../static/sponsors/pavos.jpg"></a>
    <a class="sponsor-img d-block w-100"  href="https://www.db-stav.cz/" target="_blank"><img width="80%"  src="../static/sponsors/dbstav.jpg"></a>
    <a class="sponsor-img d-block w-100"  href="https://www.farmprofi.sk/" target="_blank"><img width="80%"  src="../static/sponsors/farmprofi.jpg"></a>
    <a class="sponsor-img d-block w-100"  href="https://cafferoma.sk/" target="_blank"><img width="80%"  src="../static/sponsors/caferoma.jpg"></a>
    <a class="sponsor-img d-block w-100"  href="https://www.instagram.com/futureballer.sk/" target="_blank"><img width="80%"  src="../static/sponsors/ps-ultimate.jpg"></a>
    <a class="sponsor-img d-block w-100"  href="https://appdesign.sk/" target="_blank"><img width="80%"  src="../static/sponsors/appdesign.jpg"></a>





  </div>

</center>

  {% endblock %}