
{% extends 'layout.html' %} 
{% block content %}





<div class="content-section mt-6">
    <div class="dez-post-media dez-img-effect zoom-slow">
      <h3 style="padding-top:12px;">Partners</h3>

      

          <a class="sponsor-img" href="https://www.modra.sk/" target="_blank"><img width="60%" src="https://www.fcslovanmodra.sk/images/sponzori/modra.jpg"></a>
          <a class="sponsor-img"  href="https://www.nadaciaspp.sk/" target="_blank"><img width="60%"  src="https://www.fcslovanmodra.sk/images/sponzori/nadacia.jpg"></a>
          <a class="sponsor-img"  href="https://www.hameln-rds.sk/sk/" target="_blank"><img width="60%"  src="https://www.fcslovanmodra.sk/images/sponzori/hameln-rds.jpg"></a>
          <a class="sponsor-img"  href="https://cafferoma.sk/" target="_blank"><img width="60%"  src="https://www.fcslovanmodra.sk/images/sponzori/caferoma.jpg"></a>
          <a class="sponsor-img"  href="https://www.instagram.com/futureballer.sk/" target="_blank"><img width="60%"  src="https://www.fcslovanmodra.sk/images/sponzori/ps-ultimate.jpg"></a>
          <a class="sponsor-img"  href="https://appdesign.sk/" target="_blank"><img width="60%"  src="https://www.fcslovanmodra.sk/images/sponzori/appdesign.jpg"></a>

    </div>
  </div>


  {% endblock %}