
{% extends 'layout.html' %} 
{% block content %}
<h3 style="padding-top:12px;padding-bottom:32px;">Partneri</h3>




<center>
<div class="content-section mt-6">

      

          <a  href="https://www.modra.sk/" target="_blank"><img width="60%" class="sponsor-img" src="../static/sponsors/modra.jpg"></a>
          <a href="https://www.nadaciaspp.sk/" target="_blank"><img width="60%" class="sponsor-img"   src="../static/sponsors/nadacia.jpg"></a>
          <a href="https://www.hameln-rds.sk/sk/" target="_blank"><img width="60%" class="sponsor-img"  src="../static/sponsors/hameln-rds.jpg"></a>
          <a href="https://cafferoma.sk/" target="_blank"><img width="60%" class="sponsor-img"  src="../static/sponsors/caferoma.jpg"></a>
          <a href="https://www.instagram.com/futureballer.sk/" target="_blank"><img width="60%" class="sponsor-img"  src="../static/sponsors/ps-ultimate.jpg"></a>
          <a href="https://appdesign.sk/" target="_blank"><img width="60%" class="sponsor-img"  src="../static/sponsors/appdesign.jpg"></a>

  </div>

</center>

  {% endblock %}