{% extends "layout.html" %}
{% block content %}

<h3 class="headline">Starí páni - sezóna 2025</h3>

<div class="">
    <div class="section-full content-inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center section-head">
                    <br>
                    <p class="m-b0">
                        <img class="js-lightbox-link"
                             src="https://d3gdgwfjk7nizh.cloudfront.net/posts/252/gallery/c30483ce070641df96abd07db7d45add_68593419f77373988f2c4dd5_505729658_18058243052253929_5250959673108271510_n.webp"
                             >
                    </p>
                </div>
            </div>

            <center>

                <br><br>

                <h3 style="padding:2px;margin:2px;">Výsledky</h3>
                <br>

                <p>OFC Vinosady 1:5 FC Slovan Modra ✅</p>
                <p>Góly: Dugovič, Plach, Hrušovský, Useini, Ružek</p>
                <br>

                <p>ŠK Šenkvice 4:1 FC Slovan Modra ❌</p>
                <p>Gól: Plach</p>
                <br>

                <p>FC Slovan Modra 4:2 TJ Slovan Vištuk ✅</p>
                <p>Góly: Novák, Fiala, Hrušovský, Bojkovský</p>
                <br>

                <p>FC Slovan Modra 3:6 OFC Vinosady ❌</p>
                <p>Góly: Zobok, Hrušovský, Urbanovský</p>
                <br>

                <p>ŠK Nová Dedinka 3:6 FC Slovan Modra ✅</p>
                <p>Góly: Ružek, Dugovič M., Dugovič D., Plach, Novák 2x</p>
                <br>

                <p>FC Slovan Modra 3:6 OŠK Slovenský Grob ❌</p>
                <p>Góly: Kubán 2x, Zobok</p>
                <br>

                <p>Bernolákovo 2:2 Modra 🤝</p>
                <p>Góly: Milošovič, Bojkovský</p>
                <br>

                <p>Modra 2:3 Pezinok ❌</p>
                <p>Góly: Useini, vlastný</p>
                <br>

                <p>Modra 2:3 Limbach ❌</p>
                <p>Góly: Zobok, Novák</p>
                <br>

                <p>Vinosady 2:4 Modra ✅</p>
                <p>Góly: Ružek, Fiala M., Bojkovský, Dugovič D.</p>
                <br>

                <p>Vištuk 4:3 Modra ❌</p>
                <p>Góly: Bojkovský, Useini, Dugovič</p>
                <br>

                <p>Viničné 5:2 Modra ❌</p>
                <p>Góly: Novák 2x</p>

                <br><br>

                <h3 style="padding:2px;margin:2px;">Súpiska</h3>
                <p style="max-width:600px;">
                    Martin Cíferský, Filip Dostál, Erik Novák, Marián Gavorník,
                    Samuel Halek, Filip Hrušovský, Peter Jakubec, Pavol Kubán,
                    Adam Mišových, Pavol Novák, Ľuboš Peško, Tomáš Plach,
                    Milan Ružek, Róbert Tichý, Marián Urbanovský, Boris Urbanec,
                    Adem Useini, Richard Zemanec, Michal Zobok, René Juran,
                    Michal Graus, Juraj Fiala, Andrej Bojkovský, Jakub Liška,
                    Martin Hasák, Vladimír Tichý, Miloslav Tóth, Martin Fiala,
                    Filip Baričič, Miloš Milošovič, Milan Pastucha.
                </p>

                <br><br>

                <h3 style="padding:2px;margin:2px;">Najlepší strelci</h3>
                <p>Pavol Novák – 6x</p>
                <p>Andrej Bojkovský – 4x</p>
                <p>Dominik Dugovič – 4x</p>
                <p>Filip Hrušovský – 3x</p>
                <p>Tomáš Plach – 3x</p>
                <p>Michal Zobok – 3x</p>
                <p>Milan Ružek – 3x</p>
                <p>Adem Useini – 3x</p>
                <p>Pavol Kubán – 2x</p>
                <p>Michal Dugovič – 1x</p>
                <p>Marián Urbanovský – 1x</p>
                <p>Juraj Fiala – 1x</p>
                <p>Miloš Milošovič – 1x</p>

                <br><br>

                <h3 style="padding:2px;margin:2px;">Manažér</h3>
                <h4>Dominik Dugovič</h4>
                <h4><a href="tel:+421917937501">0917 937 501</a></h4>

                <br><br>

            </center>
        </div>
    </div>
</div>

{% endblock content %}
